* {
    margin: 0;
    padding: 0;
}

html.dark {
    background-color: #1c1917;
    color: #fff;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
